:root{
    --first_color: #5ab4fa;
    --second_color: #6DA5Cf;
    --third_color: #728FA5;
    --fourth_color: #69737A;
    --fifth_color: #3E4850;
    --sixth_color: #1F2A33;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

#logo {
    background-image: url(images/fondo.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
    
#logo h1 {
    margin: 0 10px;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #000, 
        -1px -1px 0 #000, 
        1px -1px 0 #000, 
        -1px 1px 0 #000;
}


header {
    background-color: var(--fourth_color);
    text-align: center;
    padding: 20px;
}

header a {
    color: #ffffff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

footer {
    background-color: #6c757d;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}



#game-container {
    margin: 5% auto;
    padding: 10px;
    max-width: 400px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#hangman-container {
    margin: 20px auto;
}

.figure-container {
    stroke: #000;
    stroke-width: 2px;
}

.figure-part {
    display: none;
}

#word-container {
    margin: 10px 0;
    font-size: 18px;
    letter-spacing: 8px;
}

#letters-container {
    margin: 10px 0;
}

#letters-container button {
    margin: 5px;
    padding: 5px 10px;
    font-size: 14px;
}

#reset-button {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 14px;
}
