body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

#game-container {
    margin: 5% auto;
    padding: 10px;
    max-width: 400px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#hangman-container {
    margin: 20px auto;
}

.figure-container {
    stroke: #000;
    stroke-width: 2px;
}

.figure-part {
    display: none;
}

#word-container {
    margin: 10px 0;
    font-size: 18px;
    letter-spacing: 8px;
}

#letters-container {
    margin: 10px 0;
}

#letters-container button {
    margin: 5px;
    padding: 5px 10px;
    font-size: 14px;
}

#reset-button {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 14px;
}
